<div style="width: 650px; padding: 20px; text-align: center;">
	<span style="font-size: 20px; font-weight: bold;">_____  * _____</span>
</div>
<div style="width: 650px; padding: 20px; text-align: center;">
	<span style="font-size: 20px; font-weight: bold;">Certificate of Completion</span>
</div>
<div style="width: 650px; padding: 20px; text-align: center;">
	<span style="font-size: 20px; font-weight: bold;">[CERT_ID]</span> 
</div>
<h1 style="width: 650px; height: 400px; padding: 20px; text-align: center;">
	<span style="font-size: 25px;"><i>This is to certify that</i></span> <br /><br />
	<span style="font-size: 18pt;"><b style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; text-align: left;">  </b></span>
	<b style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; text-align: left;">[STUDENTNAME]</b><br />
	<br /><br />
	<span style="font-size: 25px;"><i> has completed the course<br /></i></span> <br /><br />
	<b style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; text-align: left;"> 
		<span style="font-size: 24pt;">[COURSE]</span>
	</b>
	<br /><br />
	<span style="font-size: 25px;"><i> dated</i></span><br />
	<span style="font-size: 30px;"><b style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; text-align: left;">
		<b style="line-height: 18px;">[ISSUED_DATE] </b>and the certificate expires on </b>
		<b style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: left;">[EXPIRY_DATE]</b><br />
	</span>
		from
	<span style="font-size: 30px;"><b style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; text-align: left;"> [esfield:UNIVERSITY]</b><br />
	</span>
</h1>
<div style="width: 650px; height: 400px; padding: 20px; text-align: center;"> </div>
<div style="width: 650px; height: 400px; padding: 20px; text-align: center;"> </div>
