<div style="background-color: red;">
	<p style="text-align: center;">This is to certify that</p>
	<p style="text-align: center;">
		<b style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: left;">  [STUDENTNAME]
		</b>
	</p>
	<p style="text-align: center;">
		<b style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: left;">has completed the course 
		</b>
		<b style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px;">  
			[COURSE] on 
		</b>
		<b style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px;">  
		[ISSUED_DATE]
		</b>
		<b style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px;"> </b>
		<b style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: left;"> and total time taken was 
		</b>
	</p>
	<p style="text-align: center;">
		<b style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: left;">
			<b> [TOTAL_TIME]</b>
		</b>
	</p>
</div>