<div style="border:2px solid #ccc;width: 95%; margin: 0 auto;padding: 20px;">
	<table>
		<tbody>
			<tr>
				<td>
					<table style="width: 100%;">
						<tbody>
							<tr style="text-align: center;">
								<td>
									<div style="color: #034ea2; font-size: 32px; font-weight: 600; letter-spacing: 2px; margin: 0 0 10px 0;">Company</div>
									<div style="font-size: 20px;">Confirms the participation of</div>
									<div style="font-size: 20px;"><strong>[STUDENTNAME]</strong></div>
									<div style="font-size: 20px;">at the company's learning Programme for [COURSE] in [COUNTRY_NAME].</div>
								</td>
							</tr>
							<tr>
								<td>
									<div style="font-size: 16px; margin: 15px 0;">This is a special pre-incubation programme for starting freshers in IT industry.</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>

